<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.wzx.workflows.picture_upload</string>
	<key>connections</key>
	<dict>
		<key>869741D2-6187-48D4-BBFF-CCBC623C2D42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A3FED19-5EA1-4DA4-AE79-DD999AC8A7EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A3FED19-5EA1-4DA4-AE79-DD999AC8A7EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F7FDBF7-D5A8-49FA-9B95-F37DE73D8E96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0A15989C-B0F8-4EBB-A57A-CF697AA550E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>wzx&lt;181788481@qq.com&gt;</string>
	<key>description</key>
	<string>截图上传到公网，生成链接，用于插入到文档中</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>截图上传并生成链接</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6F7FDBF7-D5A8-49FA-9B95-F37DE73D8E96</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>upload_qiniu</string>
				<key>subtext</key>
				<string>将截图或某个图片上传到七牛云，生成图片链接，用于文档插入</string>
				<key>text</key>
				<string>上传图片到七牛云</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>869741D2-6187-48D4-BBFF-CCBC623C2D42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python src/main.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9A3FED19-5EA1-4DA4-AE79-DD999AC8A7EB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>上传图片已经生成，可以直接粘贴</string>
				<key>title</key>
				<string>图片已生成</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0A15989C-B0F8-4EBB-A57A-CF697AA550E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>截图后自动上传到某个公网地方（七牛/又拍/微博），然后返回一个图片链接，用于插入到markdown或者org mode中

author: wzx&lt;181788481@qq.com&gt;</string>
	<key>uidata</key>
	<dict>
		<key>0A15989C-B0F8-4EBB-A57A-CF697AA550E9</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>6F7FDBF7-D5A8-49FA-9B95-F37DE73D8E96</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>869741D2-6187-48D4-BBFF-CCBC623C2D42</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>9A3FED19-5EA1-4DA4-AE79-DD999AC8A7EB</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>access_key</key>
		<string>a0pB2kpMGFdv6SAJ5kTdeTNz_Ek7QeIT-1a7pFXC</string>
		<key>bulk</key>
		<string>markdown</string>
		<key>qiniu_domain_url</key>
		<string>ovqt5rbeh.bkt.clouddn.com</string>
		<key>secret_key</key>
		<string>mtcD8FxIV5RG9HI8xNktFZylva3mJSTIwg7Lcxh9</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>qiniu_domain_url</string>
		<string>bulk</string>
		<string>access_key</string>
		<string>secret_key</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
